
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></link>
</head>
<body class="bg-gray-100">
    <div class="bg-gray-800 text-white w-64 space-y-6 py-7 px-2 flex flex-col justify-between h-screen">
        <div>
            <div class="text-2xl font-semibold text-center">
                Webbly
            </div>
            <nav class="mt-10">
                <a class="block py-2 px-3 rounded transition duration-200 hover:bg-gray-700" href="/webb-admin/dash"><i class="fas fa-tachometer-alt mr-2"></i>Dashboard</a>


                <a class="block py-2 px-3 rounded transition duration-200 hover:bg-gray-700" href="/webb-admin/dash/posts"><i class="fas fa-pencil-alt mr-2"></i>Posts</a>


                <a class="block py-2 px-3 rounded transition duration-200 hover:bg-gray-700" href="/webb-admin/dash/pages"><i class="fas fa-file-alt mr-2"></i>Pages</a>


                <a class="block py-2 px-3 rounded transition duration-200 hover:bg-gray-700" href="/webb-admin/dash/comments"><i class="fas fa-comments mr-2"></i>Comments</a>


                <a class="block py-2 px-3 rounded transition duration-200 hover:bg-gray-700" href="/webb-admin/dash/users"><i class="fas fa-users mr-2"></i>Users</a>


                <a class="block py-2 px-3 rounded transition duration-200 hover:bg-gray-700" href="/webb-admin/dash/settings"><i class="fas fa-cog mr-2"></i>Settings</a>


                <a class="block py-2 px-3 rounded transition duration-200 hover:bg-gray-700" href="/webb-admin/dash/themes"><i class="fas fa-paint-brush mr-2"></i>Themes</a>


                <a class="block py-2 px-3 rounded transition duration-200 hover:bg-gray-700" href="/webb-admin/dash/plugins"><i class="fas fa-plug mr-2"></i>Plugins</a>


                <a class="block py-2 px-3 rounded transition duration-200 hover:bg-gray-700" href="/webb-admin/dash/features"><i class="fas fa-star mr-2"></i>Features</a>


                <a class="block py-2 px-3 rounded transition duration-200 hover:bg-gray-700" href="/webb-admin/dash/ataglance"><i class="fas fa-eye mr-2"></i>At a Glance</a>


            </nav>
        </div>
        <div>
            <a class="block py-2 px-3 rounded transition duration-200 bg-yellow-500 hover:bg-yellow-600 text-gray-800" href="#">
                <i class="fas fa-check mr-2"></i>
                Webbly Ready
            </a>
        </div>
    </div>
</body>
</html>
